$colorGreen: rgb(30, 215, 96);
$colorGreenDim: rgba(3, 103, 38, 0.5);
$colorMainBackground: #121212;
$colorItemBackground:rgba(255, 255, 255, .1);
$colorhoverItemBackground: rgba(255, 255, 255, .2);
$colorWhite: white;
$colorPlayer: rgb(24, 24, 24)